@import "tailwindcss";


@theme{
  /* Backgrounds */
  --color-background: #FFFFFF;
  --color-surface: #F5F5F5;
  --color-card: #FFFFFF;

  /* TEXT */
  --color-foreground: #111827;
  --color-muted-foreground: #6B7280;

  /* Borders */
  --color-border: #E5E7EB;

  /* primary */
  --color-primary: #1F2937;
  --color-primary-foreground: #FFFFFF;
  --color-primary-hover: #000000;

  /* Accent */
  --color-accent: #2563EB;
  --color-accent-foreground: #FFFFFF;

  /* Status */
  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-destructive: #EF4444;

}